{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/clients.css') }}">
{% endblock %}
{% block title %}Home{% endblock %}
        {% block content %}
            <h1 class="text-capitalize p-b"><img src="{{ url_for('static', filename='images/icons/my-clients.svg') }}" width="35" height="35"/>my clients</h1>
            
            <div class="controls-wrapper">
                <a href="{{ url_for('client_new') }}"><button type="button" class="btn btn-green"><img src="{{ url_for('static', filename='images/icons/add-w.svg') }}" width="25" height="25"/>Create new user profile</button></a>
                <div class="search-wrapper">
                  <div class="input-group">
                    <input type="text" placeholder="Search Clients" class="search-list form-control input-field-blank"/><span class="input-group-btn">
                      <button id="search-b" type="button" class="btn btn-blank"><img src="{{ url_for('static', filename='images/icons/search.svg') }}" width="25" height="25" alt="search"/></button></span>
                  </div>
                </div>
            </div> 
            
            <div class="list-wrapper">
                <ul class="list-unstyled p-t">
                {% for client in clients %}
                    <li>
                        <div class="l-img-wrapper img-responsive">
                            {% if client.profile %}
                                <a href="{{ url_for('client', slug = client.slug) }}">
                                    <img width="100" height="100" src="{{ client.profile }}"/>
                                </a>
                            {% else %}
                                <a href="{{ url_for('client', slug = client.slug) }}">
                                    <img width="100" height="100" src="{{ url_for('static', filename='images/icons/avatar.svg') }}"/>
                                </a>
                            {% endif %}
                        </div>
                        <div class="u-info-wrapper">
                            <div class="i-title text-capitalize"><a href="{{ url_for('client', slug = client.slug) }}"><strong>{{ client.name }}</strong></a></div>
                            <div class="i-desc text-capitalize">last seen {{ client.lastlogin }}</div>
                        </div>
                        <div class="rating-wrapper">
                            <div class="r-icon">
                                <img src="{{ url_for('static', filename='images/icons/engagement.svg') }}" width="45" height="45"/>
                            </div>
                            <div class="r-info">
                                <div class="r-type text-capitalize">engagement</div>
                                <div class="r-value"><strong>5.7</strong></div>
                            </div>
                        </div>
                        <div class="rating-wrapper">
                            <div class="r-icon">
                                <img src="{{ url_for('static', filename='images/icons/impact.svg') }}" width="45" height="45"/>
                            </div>
                            <div class="r-info">
                                <div class="r-type text-capitalize">impact</div>
                                <div class="r-value"><strong>{{ client.score }}</strong></div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
            
            <div class="pagination-wrapper text-center">
                <nav aria-label="Page navigation">
                  <ul class="pagination">
                    <li>
                      <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                      <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </div>
        {% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='scripts/views/index.js') }}"></script>
{% endblock %}